<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foofatest"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- WIFI 상태활용시 추가 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- WIFI 상태활용시 추가 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 인터넷 사용권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GPS 사용권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 쓰기 권한-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 읽기 권한-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 카메라 권한-->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        tools:replace="icon, label"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Foodtruck Finder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TruckModifyActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".TruckProfileActivity" />
        <activity android:name=".SellerRegisterActivity" />
        <activity android:name=".TruckInfoActivity" />
        <activity android:name=".TruckDetailActivity" />
        <activity android:name=".TruckOpenActivity" />
        <activity android:name=".TruckClosedActivity" />
        <activity android:name=".SellerModifyActivity" />
        <activity android:name=".TruckRegisterActivity" />
        <activity android:name=".FollowProfileActivity" />
        <activity android:name=".ReviewDetailActivity" />
        <activity android:name=".MemberRegisterActivity" />
        <activity android:name=".MembeDetailActivity" />
        <activity android:name=".MemberModifyActivity" />
        <activity android:name=".ReviewListActivity" />
        <activity android:name=".TruckBefore" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".MemberFavListActivity" />
        <activity android:name=".ReviewCreateActivity" />
        <activity android:name=".MemberFollowActivity" />
        <activity android:name=".ButtonListActivity"/>
        <activity android:name=".AdvertiseApplyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MemberNewsfeedActivity"></activity>
        <activity android:name=".SurveyActivity"></activity>
    </application>

</manifest>